<h1>Admin Dashboard</h1>
<div><h4>You have <%= @products %> products in the store</h4></div> <%= link_to "Products", :admin_products, class: 'btn btn-lg btn-primary' %>
<div><h4>You have <%= @categories %> categories</h4></div>

