<section class="about">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div>
    <h2>We are a local owned business in Vancouver, BC, selling different types of local plants and exotic plants from all over the world. 
    </h2>
  </div>

</section>